* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0f2a;
  color: #ffffff;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 10px;
  padding-top: 40px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 585px;
  padding-left: 80px;
}

.subheading {
  font-size: 56px;
  line-height: 1;
  letter-spacing: -3%;
}

.sub {
  width: 736px;
  height: 113px;
  padding-left: 15px;
}

.btn-tag {
  background-color: #0d0f2a;
  /* border: 2px solid #000; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  color: #fff;
  padding: 8px 24px;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.fullstop {
  color: #1ed760;
  font-size: 96px;
}

.cta {
  width: 173px;
  height: 56px;
  background-color: #1ed760;
  border-radius: 8px;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 56px auto;
  width: 1280px;
  height: 79px;

  /* border-bottom: 5px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 8px;
  /* padding-left: 40px;
  padding-right: 40px; */
}
.logo {
  height: 79px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.navlink {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
