* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #0d0f2a;
  color: white;
  /* --i: #1ed760;/ */
}

aside {
  /* background-color: aqua; */
  flex: 0.25;
  min-width: 18rem;
  padding: 5rem 3rem;
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  box-shadow: 1px 0 10px 1px #00021a96;
  position: relative;
  overflow: hidden;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: -5rem 20vh;
  background-size: 60rem;
}

aside ul.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside ul li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 5px;
}

aside ul li a,
i {
  text-decoration: none;
  font-weight: 500;
  color: #bbb;
  transition: all 0.1s ease-in;
}

aside ul li:hover > * {
  color: #fff;
  font-weight: bolder;
}

aside ul li:hover path {
  fill: #eee;
  stroke: #eee;
}
aside ul li:hover .filled {
  fill: #1ed760;
  stroke: #1ed760;
}

/* trailer */

aside .trailer_card,
.new_trailer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .trailer_card {
  display: flex;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

aside .trailer_card img {
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

aside .trailer_card .trailer_bottom {
  position: absolute;
  inset: 70% 0 0 0;
  background-color: #fff3;
}
aside .trailer_card .trailer_bottom i {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #eee;
  right: 10%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN SECTION */

#main-section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  gap: 4rem;
  padding: 5rem;

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .search-bar {
      border: 0.01rem solid rgba(255, 255, 255, 0.34);
      display: flex;
      max-height: 7.5vh;
      border-radius: 1.5rem;
      padding: 1rem 0rem 1rem 5rem;
      flex: 0.5;
      position: relative;

      input {
        outline: none;
        appearance: none;
        background: transparent;
        border: none;
        color: white;
        caret-color: #1ed760;
        caret-shape: block;
      }
      i {
        position: absolute;
        left: 2rem;
        top: 25%;
      }
    }

    .badge {
      background-color: #eee1;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: relative;

      i {
        &::after {
          width: 0.5rem;
          height: 0.5rem;
          background-color: #1ed760;
          border-radius: 50%;
          content: "";
          position: absolute;
          top: 5%;
          right: 10%;
        }
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      .profile-card {
        max-height: 10vh;
        padding: 0.5rem;
        padding-right: 2rem;
        object-fit: cover;
        display: flex;
        gap: 1rem;
        background: #8b8b8b11;
        border-radius: 50rem;

        img {
          object-fit: cover;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
        .content {
          display: block;
          h4 {
            line-height: 1.5rem;
            font-weight: normal;
          }
          span {
            font-size: 12px;
            color: #fff8;
          }
        }
      }
    }
  }

  section.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .carousel-indicator {
      display: flex;
      gap: 0.75rem;
      height: 0.5rem;

      & > span {
        background-color: #fff9;
        padding: 0 0.5rem;
        border-radius: 1rem;
      }
      span.active {
        padding: 0 1.5rem;
        background-color: #1ed760;
      }
    }
    .carousel {
      width: 100%;
      min-height: 50vh;
      /* background-color: blueviolet; */
      border-radius: 1rem;
      background-image: url("../img/banner\ prodigal\ son.png");
      background-size: cover;
      /* background-position: center center; */
      transition: all 0.5s ease-in-out;

      &:hover {
        /* background-size: 104%; */
        background-position: center;
      }
      .overlay {
        display: flex;
        height: 100%;

        .left {
          display: flex;
          flex: 0.5;
          gap: 2rem;
          flex-direction: column;
          position: relative;
          padding: 2rem;

          img {
            width: clamp(30rem, 30%, 50rem);
            object-fit: contain;
          }
          h3 {
            font-size: 1rem;
            span {
              color: #1ed760;
            }
          }
          .actions {
            display: inline flex;
            gap: 1rem;
            span {
              padding: 0.75rem 1.5rem;
              font-size: 14px;
              font-weight: 700;
              border-radius: 0.5rem;
              background-color: #1ed760;
              color: #0d0f2a;
              &:has(svg) {
                background-color: #eee2;
                color: #eee;
                border: 1px solid #f5f5f539;
              }
            }
          }
        }
        .right {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 1rem;
          height: 100%;
          /* background-color: #fff; */
          flex: 0.5;
          padding-bottom: 2rem;

          .preview {
            width: 8rem;
            height: 3.5rem;
            border-radius: 0.5rem;
            background-size: cover;
            cursor: pointer;
            &.active {
              border: 2px solid #260b5d;
            }
          }
        }
      }
    }
  }

  section.popcorn {
    .movie-row {
      margin-top: 2rem;
      flex: 0.25;
      height: 25vh;
      display: flex;
      gap: 1rem;
      /* background-color: #fff; */
      .movie {
        width: calc(100% / 3);
        border-radius: 1rem;
        background-size: cover;
        background-position: center 35%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .details {
          display: flex;
          padding: 1rem;
          width: 100%;
          justify-content: space-between;
          h5{
            color:#555;
            font: weight 200px;
          }
        }

      }
      
    }
  }
}
/* FOOTER */
.footer {
  padding: 0;
  width: 90%;
  margin: 100px auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.grid--footer {
  grid-template-columns: 1.5fr 1fr 1fr 2fr;
}

/* .logo-col {
  display: flex;
  flex-direction: column;
} */
.social-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.social-icon {
  height: 24px;
  width: 24px;
  margin-top: 20px;
}

.copyright {
  font-size: 20px;
  line-height: 1.6;
  color: #767676;
  margin-top: 100px;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 16px;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
